body
  font-family: 'Open Sans', sans-serif

  .container
    max-width:350px

    ul
      padding:0
      list-style: none
      display: flex
      flex-direction: row
      flex-wrap: wrap

      li
        margin: 5px
        border-radius: 5px
        background: rebeccapurple
        color: white
        padding:5px 10px
        font-size: 10pt

    input
      width: 100%
      padding: 10px
      border: solid 5px rebeccapurple
      color: rebeccapurple
      box-sizing: border-box
      font-size: 16pt

